
$tooltip-z-index: 1000;
$tooltip-spacing: 8px;
$tooltip-arrow-size: 5px;

$tooltip-text-color: #fff;
$tooltip-border-color: #000;
$tooltip-background-color: rgb(15, 15, 15);

.tooltip
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    visibility: hidden;
    z-index: $tooltip-z-index;

    .tooltip-arrow
    {
        top: 50%;
        left: 0;
        margin-top: -$tooltip-arrow-size;
        border-width: $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0;
        border-right-color: $tooltip-border-color;

        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-right-color: transparent;
        border-style: solid;
    }

    .tooltip-content
    {
        width: max-content;
        max-width: 300px;
        padding: 3px 8px;
        text-align: center;
        color: $tooltip-text-color;
        background: $tooltip-background-color;
        border-radius: 4px;

        white-space: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
    }

    &.tooltip-dir-top
    {
        .tooltip-arrow
        {
            top: auto;
            bottom: -$tooltip-arrow-size;
            left: 50%;
            margin-left: -$tooltip-arrow-size;
            border-width: $tooltip-arrow-size $tooltip-arrow-size 0;
            border-top-color: $tooltip-border-color;
        }
    }
    &.tooltip-dir-left
    {
        .tooltip-arrow
        {
            top: 50%;
            margin-top: -$tooltip-arrow-size;
            border-width: $tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size;
            border-left-color: $tooltip-border-color;
            left: auto;
            right: -$tooltip-arrow-size;
        }
    }
    &.tooltip-dir-right
    {
        .tooltip-arrow
        {
            top: 50%;
            left: auto;
            margin-left: -$tooltip-arrow-size;
            border-width: $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0;
            border-right-color: $tooltip-border-color;
        }
    }
    &.tooltip-dir-bottom
    {
        .tooltip-arrow
        {
            top: 0;
            left: 50%;
            margin-left: -$tooltip-arrow-size;
            border-width: 0 $tooltip-arrow-size $tooltip-arrow-size;
            border-bottom-color: $tooltip-border-color;
        }
    }

    &.tooltip-dir-top
    {
        left: 50%;
        transform: translateY(-100%) translateX(-50%);

        margin-top: -$tooltip-spacing;
    }
    &.tooltip-dir-bottom
    {
        left: 50%;
        bottom: 0;
        transform: translateY(100%) translateX(-50%);

        margin-bottom: -$tooltip-spacing;
    }
    &.tooltip-dir-left
    {
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-100%);

        margin-left: -$tooltip-spacing;
    }
    &.tooltip-dir-right
    {
        right: 0;
        top: 50%;
        transform: translateY(-50%) translateX(100%);

        margin-right: -$tooltip-spacing;
    }
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.14s;
    transition-delay: 0.01s;
    transition-timing-function: linear;
}


.has-tooltip
{
    display: inline-block;
    position: relative;
    &.on
    {
        .tooltip
        {
            opacity: 1;
            visibility: visible;
        }
    }
}
